.searchDiv{
 width:50%;
}
.search{
   height:40px !important;
   width:70%;
   padding:10px;
   margin:10px 0px 10px 15px;
   border:0px;
   border-radius:5px;
}

.searchBtn{
    background-color: white;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    cursor:pointer;
}
